/* ========== GERAL ========== */
body{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

input{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: none;
    font-size: 11pt;
    background-color: transparent;
    border-bottom: solid 2px transparent;
    transition: all .3s;    
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder{
    font-weight: 300;
    color: lightgray;
}    

input:focus{
    border-bottom: solid 2px #38BF9B;        
}    

input:hover{
    transition: all;
    border-bottom: solid 2px rgb(130, 236, 208);
}
label{
    font-size: 20pt;
    color: gray;
    font-weight: 300;
}

h1{
    text-align: center;
    font-size: 40pt;
    margin-top: 100px;
    font-weight: 300;
}

button{
    border: none;
    padding: 20px;
    font-size: 10pt;
    font-weight: 300;
}

button:hover{
    cursor: pointer;
}    

/* ========== MARGIN ========== */
.margin-10{
    margin: 10px;
}

.margin-r-10{
    margin-right: 10px;
}
.margin-r-20{
    margin-right: 20px;
}

.margin-t-10{
    margin-top: 10px;
}
.margin-t-20{
    margin-top: 20px;
}
.margin-t-25{
    margin-top: 25px;
}
.margin-t-30{
    margin-top: 30px;
}

/* ========== ALIGN ========== */

.right{
    float: right;
}

/* ========== COLORS ========== */
.btn-round{
    border-radius: 25px;
    width: auto;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s linear;
    border: solid 2px transparent;    
}

.btn-round:hover{
    background: transparent;
    color: gray;
    border: solid 2px #38BF9B;
}

/* ========== COLORS ========== */
.petshop-primary{
    background-color: #38BF9B;
    color: white;    
}
.petshop-primary-text{
    color: #38BF9B;
}    

/* ========== LOGIN ========== */
.background-login{
    background-image: url("../images/login-background.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.form-login{
    width: 300px;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    border-radius: 5px;
    text-align: center;
}

/* ========== NAV BAR ========== */
.nav-bar{
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    height: 80px;
    width: 100%;
    box-sizing: border-box;
}

.nav-bar ul{
    list-style: none;
    margin: 0px;
    padding-top: 20px;
    margin-right: 20px;
    float: right;
}

.nav-bar li{
    display: inline-block;
    margin-right: 15px;
    color: black;
    font-size: 15pt;
    font-weight: 300;
    transition: all .3s;
}

.nav-bar li:hover{
    color: #38BF9B;
}

.nav-bar a:hover{
    cursor: pointer;
}

.nav-bar .title{
    font-size: 20pt;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
}

.nav-bar .back-button img{
    display: inline-block;
}    

.nav-bar .back-button img{
    margin-top: 20px;
    margin-left: 20px;
    width: 35px;
    height: auto;
    transition: all .3s;
    display: inline-block;    
}

.nav-bar .back-button:hover img{
    margin-right: 10px;
    margin-left: 10px;
}

/* ========== SECTION IMAGE BUTTON ========== */
.section-image-button{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section-image-button div{
    background-color: #38BF9B;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 20px;
    padding: 30px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    transition: all .5s;
    overflow: hidden;
}

.section-image-button div:hover{
    box-shadow: 3px 3px 20px rgba(0,0,0,.3);
    transform: scale(1.1) rotate(45deg);
    border-radius: 30px;    
    cursor: pointer
}

.section-image-button div:active{
    transform: scale(1.3) rotate(45deg);
}

.section-image-button p{
    color: white;
    font-size: 15pt;
    font-weight: 300;
    text-align: center;
    transition: all .3s;
}

.section-image-button div:hover p{
    opacity: 0;
}  

.section-image-button img{
    height: auto;
    width: 50%;
    display: block;
    margin: auto;
    transition: all .2s;
}

.section-image-button div:hover img{
    padding-top: 15px;
    padding-right: 10px;
    transform: scale(1.5) rotate(-45deg);
} 

/* ========== HOME ========== */
.home-banner{
    background-image: url("../images/dog-staring.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: bottom;
    height: 300px;
    width: 100%;
}

.home-menu-section{
    margin-top: 0px;
}

/* ========== CLIENTS ========== */
.client-banner{
    background-image: url("../images/clients-banner.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.client-menu-section{
    margin-top: -100px;
}

/* ========== ANIMALS ========== */
.animals-banner{
    background-image: url("../images/animals-banner.png");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.animals-menu-section{
    margin-top: -100px;
}

/* ========== ANIMALS ========== */
.services-banner{
    background-image: url("../images/services-banner.png");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.services-menu-section{
    margin-top: -100px;
}

/* ========== SERVICES ========== */
/* ===== TABLE SERVICE ===== */  
.table-service thead th{
    font-size: 18pt;
}

.table-service td{
    font-size: 14pt;
    padding: 10px 50px 10px 50px;
    border: 1px solid;
    border-color: lightgray;
}

/* ===== FORM ===== */  
.form{
    width: 70%;
    padding: 20px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    border-radius: 8px;
}

.form div{
    display: inline-block
}

.button-service{
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #38BF9B;
    color: white;
    font-size: 14pt;
}
.button-service:hover{
    transform: scale(1.2);
    transition: .2s;
}
/* ========== BACKGROUNDS ========== */
.background-dog-staring{
    background-image: url("..//images/dog-staring.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
.products-banner{
    background-image: url("../images/products-background.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
/* ========== TABLE ========== */
.table {
    width: 73%;
    margin: 30px auto;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.8);
}
.table thead{
    color: white;
}
.table th{
    font-size: 22pt;
    padding: 12px;
    font-weight: 300;
    background-color: #38BF9B;
}
.table th:nth-child(2n){
    background-color: rgb(22, 168, 124);
}
.table tr{
    font-weight: 300;
}  
.table tr:nth-child(2n){
    background-color: rgba(0,0,0,.1);
}   
.table td{
    font-size: 14pt;
    padding: 10px 20px;
}
.table button{
    font-size: 15pt;
    background-color: transparent;
}

.table tbody tr td button:hover{
    transform: scale(1.1);
    transition: .3s;
}

/* ========== HIDE ========== */
.hide{
    display: none;
}

/* ========== FLOAT BUTTON ========== */
.float-button{
    background-color: #38BF9B;
    padding: 15px;
    border-radius: 30px;
    padding-top: 25px;
}
.float-button.icon img{
    width: 25px;
}

/* ========== SPACER ========== */
.spacer{
    height: 80px;
}