<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="node_modules/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <nav class="nav-bar">
            <a class="back-button" href="home.html">
                <img src="images/left-arrow.svg">
            </a>
            <h1 class="title">Clientes</h1>
            <div class="right margin-t-30 margin-r-20" v-on:click="showForm = !showForm">
                <a class="float-button icon">
                    <img src="images/form.svg">
                </a>
            </div>
        </nav>

        <section class="client-banner">
        </section>

        <form class="form" v-if="showForm">

            <label for="inputNome">Nome</label>
            <input id="inputNome" v-model="client.name" type="text" placeholder="Nome">

            <label for="inputEmail">Email</label>
            <input id="inputEmail" v-model="client.email" type="email" placeholder="Email">

            <label for="inputCelular">Celular</label>
            <input id="inputCelular" v-model="client.cel" type="tel" placeholder="Celular">

            <label for="inputCpf">CPF</label>
            <input id="inputCpf" type="text" placeholder="CPF">

            <label for="inputRua">Rua</label>
            <input id="inputRua" type="text" placeholder="Rua">

            <label for="inputBairro">Bairro</label>
            <input id="inputBairro" type="text" placeholder="Bairro">

            <label for="inputCidade">Cidade</label>
            <input id="inputCidade" type="text" placeholder="Cidade">

            <label for="inputEstado">Estado</label>
            <input id="inputEstado" type="text" placeholder="Estado">

            <label for="inputNumero">Numero</label>
            <input id="inputNumero" type="text" placeholder="Numero">

            <label for="inputCep">CEP</label>
            <input id="inputCep" type="text" placeholder="CEP">

            <button class="button-service" type="button" v-on:click="save">Salvar</button>
            <button class="button-service" type="reset" v-on:click="clean">Limpar</button>
            <button class="button-service" type="reset" v-on:click="cancel">Cancelar</button>

        </form>

        <section>
            <table id="listTable" class="table table-products">
                <thead>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Cpf</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <tr v-for="client in clients">
                        <td>{{client.id}}</td>
                        <td>{{client.name}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.cel}}</td>
                        <td>{{client.cpf}}</td>
                        <td>
                            <button>Visualizar</button>
                            <button v-on:click="edit(client)">Editar</button>
                            <button>Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <script src="js/controller/clients.controller.js"></script>

</body>

</html>