/* ========== GERAL ========== */
body{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

input{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    font-size: 13pt;
    background-color: transparent;
}

label{
    font-size: 20pt;
    color: gray;
}

button{
    background-color: #242121;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin-top: 10p;
    width: auto;
    overflow:hidden;
    max-width: 100px;
    -webkit-transition: max-width 0.3s ease-in-out;
    -moz-transition: max-width 0.3s ease-in-out;
    -o-transition: max-width 0.3s ease-in-out;
    transition: max-width 0.3s linear;
}

h1{
    text-align: center;
    font-size: 40pt;
    margin-top: 100px;
}

/* ========== LOGIN ========== */
.background-login{
    background-image: url("login-background.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.form-login{
    width: 300px;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    border-radius: 5px;
    text-align: center;
}

/* ========== NAV BAR ========== */
.nav-bar{
    background-color: #38BF9B;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
}

.nav-bar ul{
    list-style: none;
    margin: 0px;
    padding-top: 20px;
    float: right;
}

.nav-bar li{
    display: inline-block;
    margin-right: 15px;
    color: white;
    font-size: 15pt;
    font-weight: 300;
}

/* ========== HOME ========== */
.home-banner{
    background-image: url("home-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}

.home-menu-section{
    margin-top: -100px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.home-menu-section div{
    background-color: #38BF9B;
    display: inline-block;
    margin: 20px;
    padding: 30px 80px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    transition: all .5s;
}

.home-menu-section div:hover{
    box-shadow: 3px 3px 20px rgba(0,0,0,.3);
    transform: scale(1.1);
}

.home-menu-section p{
    color: white;
    font-size: 15pt;
    font-weight: 300;
    text-align: center;
}

.home-menu-section img{
    height: 100px;
    width: auto;
    display: block;
    margin: auto;
}

/* ========== CLIENTS ========== */
.client-banner{
    background-image: url("clients-banner.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.client-menu-section div{
    background-color: #38BF9B;
    display: inline-block;
    margin: 20px;
    padding: 30px 80px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    transition: all .5s;
}

.client-menu-section p{
    color: white;
    font-size: 15pt;
    font-weight: 300;
    text-align: center;
}

.client-menu-section img{
    height: 100px;
    width: auto;
    display: block;
    margin: auto;
}

.client-menu-section{
    margin-top: -100px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}